<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" />
</head>
<body>
    <section class="alert alert-info">
        Name: @ViewData["Name"]
        <br />
        Date of Birth : @ViewData["DOB"]
    </section>
</body>

</html>
